[fdroid]
## A directory to store the files downloaded from F-Droid
## Inside this directory has the following structure:
## - binary/ -- copies of the APKs are stored here
## - source/ -- copies of the source code are stored here
## - xml/    -- snapshots of the XML used for download are stored here
storedirectory = /home/armijn/fdroid

[general]
## The number of threads that are created for scanning, next to
## the main thread. Maximum: amount of CPUs available on a system.
## Has to be positive, 0 means "use all threads"
threads            = 0
