[fdroid]
# A directory to store the files downloaded from F-Droid
# Inside this directory has the following structure:
# - binary/ -- copies of the APKs are stored here
# - source/ -- copies of the source code are stored here
# - xml/    -- snapshots of the XML used for download are stored here
storedirectory = /home/armijn/fdroid

[debian]
# A directory to store the files downloaded from Debian
# Inside this directory has the following structure:
# - binary/ -- copies of the DEBs are stored here
# - source/ -- copies of the source code are stored here
# - meta/   -- snapshots of the ls-lR.gz file used for download are stored here
storedirectory = /home/armijn/debian

# a full HTTP address to the top level directory of a Debian mirror
# where the ls-lR.gz file can be found
#debianmirror = http://ftp.gnome.org/pub/debian/
debianmirror = http://ftp.nluug.nl/pub/os/Linux/distr/debian/

# list of categories to download:
# - dsc -- Debian dsc files
# - source -- original source packages
# - patch -- debian specific configuration files and patches
# - binary -- .deb packages
#
# The default is:
# dsc,source,patch,binary
categories = dsc,source,patch,binary

# comma separated list of architectures for which files should
# be downloaded.
#
# Currently Debian offers packages for the following architectures:
#
# - amd64
# - arm64
# - armel
# - armhf
# - i386
# - mips
# - mips64el
# - mipsel
# - ppc64el
# - s390x
# - all
#
# It should be noted that in the past more architectures were
# available but these are largely irrelevant these days and only
# serve nice interests. The default is:
# all,i386,amd64,arm64,armhf
architectures = all,i386,amd64,arm64,armhf

[general]
# The number of threads that are created for scanning, next to
# the main thread. Maximum: amount of CPUs available on a system.
# Has to be positive, 0 means "use all threads"
threads            = 1
