## This is a configuration file for BANG. It has the following sections:
##
## * configuration :: this section has general configuration for BANG
##   such as the location of the temporary directory, the amount of
##   threads to use, and so on.

[configuration]
## The base directory under which the scan directory with all the
## results will be placed.
baseunpackdirectory = /home/armijn/tmp

## The base directory to write temporary files that are written
## by some scans.
temporarydirectory = /home/armijn/tmp

## The number of threads that are created for scanning, next to
## the main thread. Maximum: amount of CPUs available on a system.
## Has to be positive, 0 means "use all threads"
threads            = 0

[database]
## PostgreSQL connection information
## The user as which to use to connect to the database
postgresql_user     = bang

## The password to use to connect to the database
postgresql_password = bang

## The name of the database
postgresql_db       = bang

## Flag to indicate whether database connection errors
## should be treated as fatal (i.e. program should stop).
##
## The default mode is to continue without having a database and
## to just disable the functionality that requires a database, but
## this makes it harder to detect that a database might be down.
## Users who depend on using the database should set this to
## 'yes' instead of 'no'.
#dbconnectionerrorfatal = yes
dbconnectionerrorfatal = no

## The host for the PostgreSQL server. No need to set this
## if you are using localhost as PostgreSQL will then use
## a local socket in the file system.
#postgresql_host = 127.0.0.1

## The port for the PostgreSQL server. No need to set this
## if you are using the default PostgreSQL setup. If you are
## running PostgreSQL on another port you need to
## change this
#postgresql_port = 5432
