## This is a configuration file for BANG. It has the following sections:
##
## * configuration :: this section has general configuration for BANG
##   such as the location of the temporary directory, the amount of
##   threads to use, and so on.

[configuration]
## The base directory under which the scan directory with all the
## results will be placed.
baseunpackdirectory = /home/armijn/tmp

## The base directory to write temporary files that are written
## by some scans.
temporarydirectory = /home/armijn/tmp

## The number of threads that are created for scanning, next to
## the main thread. Maximum: amount of CPUs available on a system.
## Has to be positive, 0 means "use all threads"
threads            = 0
