## This is a configuration file for BANG. It has the following sections:
##
## * configuration :: this section has general configuration for BANG
##   such as the location of the temporary directory, the amount of
##   threads to use, and so on.
## * database :: this section contains the configuration for the
##   PostgreSQL database, such as connection information.

[configuration]
## The base directory under which the scan directory with all the
## results will be placed.
baseunpackdirectory = %(HOME)s/tmp

## The base directory to write temporary files that are written
## by some scans.
temporarydirectory = %(HOME)s/tmp

## The number of threads that are created for scanning, next to
## the main thread. Maximum: amount of CPUs available on a system.
## Has to be positive, 0 means "use all threads"
threads            = 0

## Remove the scan directory if set to "yes". This is useful for batch
## scans in testing.
#removescandirectory = no

## Remove the unpacked data of the scan directory (but not the metadata).
## This is useful if only the metadata needs to be kept, but the unpacked
## data can be discarded. Set to "no" by default.
#removescandata = no

## Disable logging if set to "no". This might save some disk space
## and run time, but it makes a post mortem a lot harder to do.
#logging = yes

## Sets the maximum size for TLSH. TLSH gets less and less useful
## the larger a binary is, but it can cost quite some resources
## to compute.
## 30 MiB is a very reasonable cut off for the maximum size of a
## file for which TLSH should be computed.
#tlshmaximum = 31457280

## Count how often each bytes occurs in a file if set to "yes".
## This can be a quite costly operation, and is not advised.
#bytecounter = no

## Determines whether or not JSON output should be generated.
## Set to "no" to disable.
json = no

## Determins whether or not to run file scans, or to run as
## a pure "carver".
## Set to "no" to disable.
runfilescans = yes

[database]
## PostgreSQL connection information
#postgresql_enabled = yes

## The user as which to use to connect to the database
postgresql_user     = bang

## The password to use to connect to the database
postgresql_password = bang

## The name of the database
postgresql_db       = bang

## Flag to indicate whether database connection errors
## should be treated as fatal (i.e. program should stop).
##
## The default mode is to continue without having a database and
## to just disable the functionality that requires a database, but
## this makes it harder to detect that a database might be down.
## Users who depend on using the database should set this to
## 'yes' instead of 'no'.
#postgresql_error_fatal = yes
postgresql_error_fatal = no

## The host for the PostgreSQL server. No need to set this
## if you are using localhost as PostgreSQL will then use
## a local socket in the file system.
#postgresql_host = 127.0.0.1

## The port for the PostgreSQL server. No need to set this
## if you are using the default PostgreSQL setup. If you are
## running PostgreSQL on another port you need to
## change this
#postgresql_port = 5432

[elasticsearch]
## Elasticsearch connection informnation
elastic_enabled = no

## The user as which to connect to Elasticsearch, in case
## security is used (Open Distro for Elasticsearch, or
## Elasticsearch's X-pack)
elastic_user = bang

## The password to use to connect to Elasticsearch, in case
## security is used (Open Distro for Elasticsearch, or
## Elasticsearch's X-pack)
elastic_password = bangbang

## The index to use
elastic_index = bang

## Flag to indicate whether Elasticsearch connection errors
## should be treated as fatal (i.e. program should stop).
##
## The default mode is to continue without having Elasticsearch and
## to just disable the functionality that requires Elasticsearch, but
## this makes it harder to detect that Elasticsearch might be down.
## Users who depend on using Elasticsearch should set this to
## 'yes' instead of 'no'.
#elastic_connectionerrorfatal = yes

## The host for the Elasticsearch server.
#elastic_host = 127.0.0.1

## The port for the Elasticsearch server. No need to set this
## if you are using the default. If you are
## running Elasticsearch on another port you need to
## change this
#elastic_port = 9200
