deepdiff
pytest
kaitaistruct==0.9
parameterized
py-tlsh
tinycss2
python-snappy
Pillow
lz4
icalendar
elasticsearch
dockerfile-parse
defusedxml
mutf8
brotli
pyaxmlparser
pyyaml
telfhash
python-lzo
zstd
protobuf
